@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

#cabecalho {
    background-color: #fd6500;
    color: #fff;
    padding: 20px;
}



#menu-principal {
    list-style: none;
    text-align: center;
    
    
}

#menu-principal a {
    margin: 10px;
   color: white;
   text-decoration: none;
}

#titulo-site {
    text-align: center;
}





.link-inativo {
    opacity: 0.5;
    cursor: not-allowed;
}

#banner-principal {
    background: #0f01d4da;
    color: #fff;
    padding: 60px 20px;
    text-align: center;
}

section {
    padding: 40px 20px;
}

.card-projeto {
    background: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.secao-inativa {
    opacity: 0.6;
}

#rodape {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 20px;
}